CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_BUSYBOX=y
CONFIG_BUSYBOX_CONFIG_FEATURE_INSTALLER=y
CONFIG_BUSYBOX_CONFIG_FEATURE_STAT_FORMAT=y
CONFIG_BUSYBOX_CONFIG_HOSTNAME=y
CONFIG_BUSYBOX_CONFIG_NC_SERVER=y
CONFIG_BUSYBOX_CONFIG_REALPATH=y
CONFIG_BUSYBOX_CONFIG_STAT=y
CONFIG_BUSYBOX_CONFIG_TIMEOUT=y
CONFIG_DROPBEAR_ECC=y
CONFIG_PACKAGE_nfs-utils=y
CONFIG_TARGET_ROOTFS_TARGZ=y
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set
CONFIG_KERNEL_IP_PNP=y
